language: node_js
node_js:
- '9'
- '8'
- '7'
- '6'
install:
- npm install
script:
- npm run test_coverage
after_success:
- npm install -g codecov
- codecov
deploy:
  provider: npm
  email: kei.itof@gmail.com
  api_key:
    secure: MjuoSgic9xm3zTaxzSt9S1a63cvfoMGIltnOddWRRAyXpMf0IgHT8O8P5U4V/MgJZNYXLeqCOz20spPDGax4pgodsglbT5OiDslb2RmgyFBcoq2Yb2nJESKCuv/n+YirIDI8gJs6iWf39oPn8O4fr7WWdQJ3N7gribrOYktt4p+uAlaFwrzIs5K0CdYdSjnqhXH2jbnwkn5kFKztZ/02Ohvm2m3v4evMiJ31G5JzPg0lrbXiFOm1QPDM/7HKGg915N6YKMjFDt2X+wClVN9ACe+9bJL0cYi50L6NsaOMIxZdQglzsGYhV2NqK2Tw6OnDtPhEvE+QMGa7oS1+BAMlPIf1TJNyBvHsZ54QNW0/x7TQ5hpxySddqUNLegnqcAjwZpbsTOYOCzo2UxoMROy7QmCRefHpafQhSdz04DEl8LtZ2EgfmCXgeZOvaBmlE6A/1csyfZJydtKB8ZxZwgzBeIQNQntb15HQrRunRgMjqK4+JOBgrCrPy5dzuWOqQlqdsp3MNmuciq9EbcsvbifIfRboR+CeLJv0/sFADOx9mKl8gR3rpaW3Dt7QTbLoN7Dxb5Ch+UDhz/NjCh1Gq6lkvwxZ7iuSQWcJYfHHPHm6qisiQv0PQ8sELSOynFym0w4DP0FwGiTScSAbgiFCvH4CoChY2+640zBL1hR32CY4rB4=
  on:
    tags: true
    repo: nlibjs/template-string
notifications:
  slack:
    secure: su461XsR47EpNkiPYPAM46qu6MFH2odXgnsrK+j1Pe3V79JC2bohgcERdyOD2wqXPJIvtz9HH0HzTTdznTW/NphAhEKHsF+D7uqL1hZk2HGG66aQ01UPPZroudQuIZ5Dj8QK3/3IXpJpAE8g8cLFrOuB2yX86kK+A8RgsINVG/qzKIZikP48BcNVqJz6W6FhIV2Gt3avtPB+1T/uw33EzalJ/T4q6Bnd4s5YCg0FtydaVR1oc67BEKqdyWT6cRGh+iIEIJGPQQCx9Le/S28Htnc5zoR7BiGTRZSmWouVH27Q6xNkqH3rGeojh5zkGohzGINwVpxFVKtKc0IkYnWaI9geWUUleaJ364ijCpGeND9mbdbIly8U7242vaA26dYCavKj22Zmr32wJKDmkkmZZ/SIai4V6plE0Yk9WETThD8kHr7JJHEn506oBqUzpOVlCZiuOCWwTQSPhAMlEmuZ/JeUwe2Bh5D6S03+Had6evoTLu4Fa7UtjLRI7zmK7ToNZVFX2fwk0HxDyZGYKgcpyytcQwcRlGD7U7onuAVaozM219oeMfcuJyGIKYPV35dilpA2GSZglZZoEK/uER/9Jj7F3cDG/DsTwmRsDVIPZF2+tozwFMyNgBUWt1pu1b51BnD/tw6B/AGiijTYDaQ1f+a9mN7YATW/yX24/r+ErA8=
